fastapi==0.141.1
uvicorn==0.52.4
jinja2==3.1.6
python-dotenv==1.2.3
python-multipart==0.0.32
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
groq==1.7.0
numpy==2.3.5
opencv-contrib-python==4.10.0.84
opencv-python==5.0.0.93
pillow==12.3.0
paddleocr==3.7.0
paddlepaddle==3.3.1
paddlex==3.7.2
reportlab==5.0.1
